{% extends "base.html" %}
{% block title %}Add a game{% endblock %}
{% block script %}
<script language="JavaScript" src="/static/ts_picker.js">

//Script by Denis Gritcyuk: tspicker@yahoo.com
//Submitted to JavaScript Kit (http://javascriptkit.com)
//Visit http://javascriptkit.com for this script

</script>
{% endblock %}
{% block content %}
    {% if form.errors %}
        <p>There was an error creating the game</p>
    {% endif %}

    <form name="game" method="post" action="{% url Pickem.views.add_game %}">
        {% csrf_token %}
        Week #
        <input type='text' name='week' size='3'/><br />
        Away Team
        <select name="team1">
            {% for i in teams %}
                <option value="{{ i.call }}">{{ i.city }} {{ i.name }}</option>
            {% endfor %}
        </select><br />
        Home Team
        <select name='team2'>
            {% for i in teams %}
                <option value="{{ i.call }}">{{ i.city }} {{ i.name }}</option>
            {% endfor %}
        </select><br />
        Game start type:
        <input type="Text" name="timestamp" value="">
        <a href="javascript:show_calendar('document.game.timestamp', document.game.timestamp.value);">
        <img src="/static/cal.gif" width="16" height="16" border="0" alt="Click Here to Pick up the timestamp"></a>
        <input type="submit" value="Add This game" />
        <input type="hidden" name="next" value={{ next }} />
   </form>

{% endblock %}