<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    {% block script %}{% endblock %}
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.0/jquery.min.js"></script>
    <script type="text/javascript" src="/static/flash.js"></script>

    <link rel="stylesheet" type="text/css" href="/static/quaig.css" />
</head>
<body>
<h1>Pickem!</h1>
<div class="nav">
<ul>
<li><a href="{% url Pickem.views.index %}">Home</a></li>
    {% if user.is_authenticated %}
        <li><a href="{% url django.contrib.auth.views.logout %}">Logout {{ user.username }}</a></li>
        <li><a href="{% url Pickem.views.profile user.username %}">My Profile</a></li>
        <li><a href="{% url Pickem.views.my_picks %}">My Picks</a></li>
    {% else %}
        <li><a href="{% url django.contrib.auth.views.login %}">Login</a></li>
        <li><a href="{% url Pickem.views.register %}">Register</a></li>
    {% endif %}
        <li><a href="{% url Pickem.views.stats %}">Rankings</a></li>
        <li><a href="{% url Pickem.views.live %}">Live Scores</a></li>
        <li><a href="{% url Pickem.views.allteams %}">All Teams</a></li>
        <li><a href="{% url Pickem.views.gamelist %}">Game Listing</a></li>
</ul>
{% if user.is_staff %}
<ul style=float:right;>
    <li><a href="{% url Pickem.views.add_game %}">Add Game</a></li>
</ul>
{% endif %}
</div>
<hr width="50%">
{% if messages %}
    {% for message in messages %}
        <!-- <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li> -->
        <div class="flash"> {{ message }}</div>
    {% endfor %}
{% endif %}
{% block content %}{% endblock %}
<p>
<div class="footer">A quaig production 2011</div>
</body>
</html>
